---
const title = "Wil Vark";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
  </head>

  <body>
    <main>
      <h1>Wil Vark</h1>

      <p>Contemporary Oil Paintings</p>

      <p>
        A series exploring memory, seasons, and songbirds.
      </p>
    </main>
  </body>
</html>